<!doctype html>
<html>
  <head>
    <title>macafin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/macafin.css') }}">
  </head>
  <body>
    <section>
      <div class="container">
        <div class="columns">
          <div class="column">
            <!--<svg viewBox="0 0 900 300">
              <symbol id="s-text">
                <text text-anchor="middle" x="50%" y="50%" dy=".35em" class="text-line">Macafin</text>
              </symbol>
              <use class="text" xlink:href="#s-text"></use>
              <use class="text" xlink:href="#s-text"></use>
              <use class="text" xlink:href="#s-text"></use>
              <use class="text" xlink:href="#s-text"></use>
              <use class="text" xlink:href="#s-text"></use>
            </svg>-->
            <br >
            <div class="columns">
              <div class="column">
                <div class="box">
                  <legend>Configurações</legend>
                  <hr>
                  <form action="{{ url_for('report') }}" method="POST" id="report">
                    <div class="field">
                      <label class="label">Data início</label>
                      <p class="control">
                        <input class="input" type="text" name="start" id="start" placeholder="Data início">
                      </p>
                    </div>
                    <div class="field">
                      <label class="label">Data fim</label>
                      <p class="control">
                        <input class="input" type="text" name="end" id="end" placeholder="Data fim">
                      </p>
                    </div>
                  </form>
                </div>
              </div>
              <div class="column">
                <div class="box">
                  <legend>Relatório</legend>
                  <hr>
                  <div class="columns">
                    <div class="column is-4">
                      <figure class="image is-96x96">
                        <input type="image" src="{{ url_for('static', filename='img/analytics-7.png') }}" width="96" height="96" form="report">
                        <p class="has-text-centered">Relatório tipo 1</p>
                      </figure>
                    </div>
                    <!--<div class="column is-4">
                      <figure class="image is-96x96">
                        <input type="image" src="{{ url_for('static', filename='img/analytics-2.png') }}" width="96" height="96" form="report">
                        <p class="has-text-centered">Relatório tipo 2</p>
                      </figure>
                    </div>
                    <div class="column is-4">
                      <figure class="image is-96x96">
                        <input type="image" src="{{ url_for('static', filename='img/analytics-3.png') }}" width="96" height="96" form="report">
                        <p class="has-text-centered">Relatório tipo 3</p>
                      </figure>
                    </div>-->
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="container">
            <div class="content has-text-centered">
              <p>
                <strong>macafin</strong> powered by <a href="http://flask.pocoo.org/"> Flask</a> and prettified by
                <a href="http://bulma.io/"> Bulma</a> and 
                <a href="http://www.flaticon.com/packs/reports-and-analytics"> Vectors Market Icons</a>
              </p>
            </div>
          </div>
        </footer>
      </div>
    </section>
  </body>
</html>
