{% extends "layout.html" %}
{% block content %}
<div class="mdl-grid">
    <!-- Basic Settings Card  -->
    <div class="mdl-card mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--6-col">
        <ul>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                Setting 1
                </span>
                <span class="mdl-list__item-secondary-action">
                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-1">
                <input type="checkbox" id="list-switch-1" class="mdl-switch__input" checked />
                </label>
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                Setting 2
                </span>
                <span class="mdl-list__item-secondary-action">
                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-2">
                <input type="checkbox" id="list-switch-2" class="mdl-switch__input" checked />
                </label>
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                Setting 3
                </span>
                <span class="mdl-list__item-secondary-action">
                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-3">
                <input type="checkbox" id="list-switch-3" class="mdl-switch__input" checked />
                </label>
                </span>
            </li>
        </ul>
    </div>
    <!-- Advanced Settings Card  -->
    <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--6-col">
        <ul>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                Setting 4
                </span>
                <span class="mdl-list__item-secondary-action">
                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-4">
                <input type="checkbox" id="list-switch-4" class="mdl-switch__input" checked />
                </label>
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                Setting 5
                </span>
                <span class="mdl-list__item-secondary-action">
                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-5">
                <input type="checkbox" id="list-switch-5" class="mdl-switch__input" checked />
                </label>
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                Setting 6
                </span>
                <span class="mdl-list__item-secondary-action">
                <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="list-switch-6">
                <input type="checkbox" id="list-switch-6" class="mdl-switch__input" checked />
                </label>
                </span>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
